
body, html {
  padding-top: 60px;
  padding-bottom: 30px;
  height: 100%;
}

.content {
  min-height: calc(100vh - 50px); /* Hauteur totale moins la hauteur du footer */
}

.footer {
  height: 50px;
  background-color: #343a40; /* Couleur sombre */
  color: white; /* Texte blanc */
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.blog-owner-title {
  font-size: 2em; 
  font-weight: bold; /* Rend le texte plus audacieux */
  color: #343a40; /* Couleur foncée pour le texte */
  background-color: #f8f9fa; /* Fond clair pour le contraste */
  padding: 10px; /* Ajoute du rembourrage autour du texte */
  border: 1px solid #ced4da; /* Bordure pour le souligner */
  border-radius: 5px; 
  text-align: center; 
  margin-bottom: 20px; 
}

/*yangran add below*/
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  margin-top: 20px;
}

.user-details ul {
  list-style: none;
  padding: 0;
}

.user-details ul li {
  margin-bottom: 10px;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.form-profile-update {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}

.form-profile-update h2 {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 10px;
}

.form-control-file {
  margin-top: 10px;
  margin-bottom: 20px;
}

.notification-link .notif-count {
  background-color: red;
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.posts {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.post {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border-left: 5px solid #17a2b8; /* 引入边框颜色以区分 */
}

.post h3 {
  color: #343a40;
  font-size: 1.2rem;
}

.post p {
  font-size: 1rem;
  color: #666;
}

.post small {
  display: block;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #999;
}

#loadMore {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #17a2b8;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loadMore:hover {
  background-color: #1391b8;
}
