
body, html {
  padding-top: 60px;
  padding-bottom: 30px;
  height: 100%;
}

.content {
  min-height: calc(100vh - 50px); /* Hauteur totale moins la hauteur du footer */
}

.footer {
  height: 50px;
  background-color: #343a40; /* Couleur sombre */
  color: white; /* Texte blanc */
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.blog-owner-title {
  font-size: 2em; /* Augmente la taille de la police */
  font-weight: bold; /* Rend le texte plus audacieux */
  color: #343a40; /* Couleur foncée pour le texte */
  background-color: #f8f9fa; /* Fond clair pour le contraste */
  padding: 10px; /* Ajoute du rembourrage autour du texte */
  border: 1px solid #ced4da; /* Bordure pour le souligner */
  border-radius: 5px; /* Coins arrondis pour un aspect plus doux */
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Ajoute de l'espace en dessous */
}
